:root {
  --primary-color: #fce029;
}
body {
  margin: 0px;
  font-family: "Roboto Condensed", sans-serif;
}
.container {
  padding: 0rem 1rem;
}
.container-center {
  max-width: 400px;
  margin: auto;
}
/* ---navbar--- */
.navbar {
  background-color: var(--primary-color);
  padding: 0.7rem 1rem;
  border-bottom-left-radius: 3rem;
}
.no-bullet {
  list-style: none;
}
.nav-text {
  margin: 2rem;
  padding: 0.5rem;
  border: 2px solid white;
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: #231f20;
  font-weight: 600;
  font-size: 3rem;
}
.nav-img {
  padding: 0.5rem 4rem;
}
.inline {
  display: inline;
}
/* ---text area--- */
textarea {
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  display: block;
}
/* output */
#output {
  border: 1px solid black;
  width: 80%;
  height: 2rem;
  margin: 1rem;
  padding: 1rem;
  display: block;
}
